.sidebar-section{
    display:flex;
    background-color:black;
    
    
}
.sidebar{
    height:100vh;
    background-color: #16161b;
    width:90px;
    position:fixed;
}

.sidebar-toggle{
    width:200px;
}

.sidebar-toggle-icons{
    display:flex;
    align-items: right;
    justify-content: right;
    cursor:pointer;
}

.sidebar-toggle-icons p svg{
    background-color: #de1ea4;
    margin-top:30px;
    color:white;
}


/*====Mobile View=======*/

@media (max-width:600px){
    .sidebar{
        display:none;
    }
}
